*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
.image-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
}
.page-title {
  text-align: right;
}
.page-title h1{
  font-weight: 300;
}
.page-title h4 {
  font-weight: 100;
}
.featured-work h2 {
  font-weight: 100;
  font-size: 1.25em;
}
.featured-work h3{
  text-align: center;
  font-weight: 400;
}
.featured-work img {
  display: block;
  margin: 0 auto;
  max-width: 99%;
}
